name: {{ cookiecutter.project_slug }}
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python >=3.10,<3.15
  # Dev tools and testing
  - pip >=26.1
  - bump-my-version >=1.2.6
  {%- if cookiecutter.command_line_interface|lower == 'click' %}
  - click >=8.3.1
  {%- endif %}
  - codespell >=2.4.1
  - coverage >=7.5.0
  - deptry >=0.24.0
  - flake8 >=7.3.0
  - flake8-rst-docstrings >=0.4.0
  - flit >=3.12.0,<4.0
  - mypy >=1.19.1
  - numpydoc >=1.10.0
  - prek >=0.3.0
  {%- if cookiecutter.use_pytest == 'y' %}
  - pytest >=9.0.2
  - pytest-cov >=7.0.0
  {%- endif %}
  - ruff >=0.15.0
  - tox >=4.41.0
  - tox-gh >=1.6.1
  {%- if cookiecutter.command_line_interface|lower == 'typer' %}
  - typer >=0.22.0
  {%- endif %}
  - vulture >=2.14
  - watchdog >=6.0.0
