{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.rst
{% endif -%}
include CONTRIBUTING.rst
include HISTORY.rst
{% if cookiecutter.open_source_license != 'Not open source' -%}
include LICENSE
{% endif -%}
include README.rst
include requirements_dev.txt
{% if cookiecutter.make_docs ==  'y' -%}
include requirements_docs.txt
{% endif -%}
{% if cookiecutter.open_source_license != 'Not open source' -%}
include .zenodo.json
{% endif -%}

recursive-include tests *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude .coveralls.yml
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .yamllint.yaml
exclude Makefile
exclude environment-docs.yml
exclude tox.ini
