envlist = [
  "lint",
  "py3.{10-14}"
  {%- if cookiecutter.make_docs == 'y' %},
  "docs"
  {%- endif %}
]
skip_missing_interpreters = true

{%- if cookiecutter.make_docs == 'y' %}

[env.docs]
description = "Build the documentation with makefile under {basepython}"
labels = ["docs"]
dependency_groups = ["docs"]
commands = [
  ["make", "build-docs"]
]
commands_post = []
allowlist_externals = ["make"]

{%- endif %}

[env.extras]
description = "Run tests with extras under {basepython}"
extras = ["extras"]

[env.lint]
description = "Run code quality compliance tests under {basepython}"
labels = ["lint"]
skip_install = true
dependency_groups = ["lint"]
commands = [
  ["make", "lint"]
]
commands_post = []
allowlist_externals = ["make"]

[env_run_base]
description = "Run tests with pytest under {basepython}"
setenv = {PYTEST_ADDOPTS = "--color=yes --cov={{ cookiecutter.project_slug }} --cov-report=lcov", PYTHONPATH = "{toxinidir}"}
passenv = ["COVERALLS_*", "GITHUB_*"]
download = true
dependency_groups = ["test"]
install_command = ["python", "-m", "pip", "install", "--no-user", "{opts}", "{packages}"]
commands_pre = [["pip", "list"], ["pip", "check"]]
commands = [
  {% if cookiecutter.use_pytest == 'y' -%}
  ["pytest", "{posargs}"]
  {%- else -%}
  ["coverage", "run"]
  {%- endif %}
]
commands_post = [
  ["coverage", "report"]
]

[gh.python]
"3.10" = ["py3.10"]
"3.11" = ["py3.11"]
"3.12" = ["py3.12"]
"3.13" = ["py3.13"]
"3.14" = ["py3.14"]
