# This workflow requires a personal access token named `BUMP_VERSION_TOKEN` with the following privileges:
# - Contents: Read and Write
# - Metadata: Read-Only
# - Pull Requests: Read and Write

name: "Bump Patch Version"

on:
  push:
    branches:
      - main
    paths-ignore:
      - .cruft.json
      - .editorconfig
      - .github/**.yml
      - .gitignore
      - .pre-commit-config.yaml
      - .yamllint.yaml
      {%- if cookiecutter.open_source_license != 'Not open source' %}
      - .zenodo.json
      {%- endif %}
      {%- if cookiecutter.create_author_file == 'y' %}
      - AUTHORS.rst
      {%- endif %}
      - CHANGELOG.rst
      - CI/**/*.in
      - CI/**/*.py
      - CI/**/*.txt
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.rst
      - Makefile
      {%- if cookiecutter.make_docs == 'y' %}
      - .readthedocs.yml
      - docs/*.py
      - docs/*.rst
      - environment-docs.yml
      {%- endif %}
      {%- if cookiecutter.use_conda == 'y' %}
      - environment-dev.yml
      {%- endif %}
      - pyproject.toml
      - tests/**.py
      - tox.ini
      - src/{{ cookiecutter.project_slug }}/__init__.py
  workflow_dispatch:

permissions:
  contents: read

jobs:
  bump_patch_version:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    strategy:
      matrix:
        python-version: [ "3.13" ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443

      - name: Checkout Repository (no persist-credentials)
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python3
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: __PYTHON_VERSION__

      - name: Config Commit Bot
        run: |
          git config --local user.email "bumpversion[bot]@ouranos.ca"
          git config --local user.name "bumpversion[bot]"

      - name: Install CI libraries
        run: |
          python -m pip install --require-hashes -r CI/requirements_ci.txt

      - name: Conditional Bump Version
        run: |
          {%- raw %}
          CURRENT_VERSION=$(bump-my-version show current_version)
          if [[ ${CURRENT_VERSION} =~ -dev(\.\d+)? ]]; then
            echo "Development version (ends in 'dev(\.\d+)?'), bumping 'build' version"
            bump-my-version bump build
          else
            echo "Version is stable, bumping 'patch' version"
            bump-my-version bump patch
          fi
          echo "new_version=$(bump-my-version show current_version)"
          {%- endraw %}

      - name: Push Changes
        uses: ad-m/github-push-action@d91a481090679876dfc4178fef17f286781251df # v0.8.0
        with:
          force: false
          github_token: __BUMP_VERSION_TOKEN__
          branch: __GITHUB_REF__
