name: cookiecutter-pypackage testing

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  # For a given workflow, if we push to the same branch, cancel all previous builds on that branch except on main.
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  tests:
    name: Python${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14", "pypy3.11" ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          # PyPy packages requires access to Rust binaries
          allowed-endpoints: >
            api.github.com:443
            cdn.fwupd.org:443
            downloads.python.org:443
            files.pythonhosted.org:443
            github.com:443
            index.crates.io:443
            objects.githubusercontent.com:443
            proxy.golang.org:443
            pypi.org:443
            static.crates.io:443
            storage.googleapis.com:443
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install CI dependencies
        run: |
          python -m pip install --require-hashes -r CI/requirements_ci.txt
      - name: Environment Caching
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .tox
          key: ${{ matrix.tox-env }}-${{ hashFiles('pyproject.toml') }}
      - name: Run bake test suite
        run:
          python -m tox
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.python-version }}
      # - name: Archive package
      #   if: ${{ matrix.tox-env == 'py39' }}
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: cookie-cutter
      #     path: src/dist
